{% extends "quiz/base.html" %}
{% block content %}
    {% for quiz in quizzes %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ quiz.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ quiz.author }}</a>
              <small class="text-muted">{{ quiz.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'quiz' quiz.id %}">{{ quiz.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}